<!DOCTYPE html>
<html>
  <head>
    <title>Programming Assessments</title>
    <link rel=stylesheet type=text/css href="{{ 'css/styles.css'|get_static }}">

    <script
        type="text/javascript"
        src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
  </head>
  <body>
  <nav>
    <ul>
      <li><a href="{{ 'index'|get_url }}.html">Programming Assessments</a></li>
    </ul> 
  </nav>
  <main>
    {% block body %}{% endblock %}
    </main>
  </body>

  {% block scripts %}{% endblock %}
</html>