<!DOCTYPE html>
<html>
  <head>
    <title>Programming Assessments</title>
    <link rel=stylesheet type=text/css href="{{ '/static/css/styles.css'|get_static }}">

    <script
        type="text/javascript"
        src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>

  {% block scripts %}{% endblock %}
</html>