[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
click = "*"
watchdog = "*"
jinja2 = "*"
bibtexparser = "*"
unidecode = "*"

[dev-packages]
black = "==24.3.0"
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "python3 -m apa.cli lint"
build = "python3 -m apa.cli build all"
add_paper = "python3 -m apa.cli add paper"

[pipenv]
allow_prereleases = true
