[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
click = "*"
watchdog = "*"
jinja2 = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"

[requires]
python_version = "3.8"
